.header {
    border-bottom: solid 1px $border-color; 

    &__box {
        display: flex;
        align-items: center;
        margin-bottom: -1px;
    } 
}

@import 'logo';
@import 'nav';
@import 'contact';
@import 'mob_nav_menu';